<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Wox-landing</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="css/owl.theme.default.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="img/favicon/favicon.png" type="image/x-icon"/>
    <!-- build:css css/vendor.css-->
    <!-- endbuild-->
    <!-- build:css css/main.css-->
    <link rel="stylesheet" href="css/main.css"/>
    <!-- endbuild-->
  </head>
  <body class="page">
    <div class="page__wrap">
      <header class="header-doctor">
        <div class="header-doctor__container">
          <div class="header-doctor__logo"><a class="header-logo" href="index.html"><img class="header-logo__img" src="img/logo/logo.png" alt="" role="presentation"/></a>
          </div>
          <div class="header-doctor__nav">
            <nav class="header-nav"><a class="header-nav__link" href="questions.html">вопросы</a><a class="header-nav__link" href="visites.html">прием</a><a class="header-nav__link" href="events.html">события</a><a class="header-nav__link" href="patients.html">пациенты</a>
            </nav>
          </div>
          <div class="header-doctor__private-cabinet"><a class="private-cabinet"><i class="private-cabinet__icon fa fa-lock"></i><i class="private-cabinet__text">Выход</i></a>
          </div>
        </div>
      </header>
      <section class="main-content-events">
        <div class="main-content-events__container">
          <form class="events-body">
            <div class="event-field">
              <p class="event-field__name">Название события
              </p><input class="event-field__value" placeholder="декабрь 2017" type="text"/>
            </div>
            <div class="event-field">
              <p class="event-field__name">Дата события
              </p><input class="event-field__value events-date" placeholder="декабрь 2017" type="text"/>
            </div>
            <div class="event-field">
              <p class="event-field__name">Описание
              </p><textarea class="event-field__value" rows="10" placeholder="Учащёное болезненное мочесипускание, боль в "></textarea>
            </div>
            <div class="event-field">
              <p class="event-field__name">Содержание
              </p><textarea class="event-field__value" rows="10" placeholder="Учащёное болезненное мочесипускание, боль в "></textarea>
            </div><input class="write-btn" type="submit" value="Записать"/>
          </form>
          <div class="sidebar-events">
            <div class="events-list">
              <div class="event">
                <p class="event__name">Урологическая конференция в Харькове
                </p><a class="event__edit-btn" href="#">Редактировать</a>
              </div>
              <div class="event">
                <p class="event__name">Урологическая конференция в Харькове
                </p><a class="event__edit-btn" href="#">Редактировать</a>
              </div>
              <div class="event">
                <p class="event__name">Урологическая конференция в Харькове
                </p><a class="event__edit-btn" href="#">Редактировать</a>
              </div>
              <div class="event">
                <p class="event__name">Урологическая конференция в Харькове
                </p><a class="event__edit-btn" href="#">Редактировать</a>
              </div>
              <div class="event">
                <p class="event__name">Урологическая конференция в Харькове
                </p><a class="event__edit-btn" href="#">Редактировать</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer>
        <div class="footer-patient-body">
          <div class="footer-item">
            <p class="footer-item__info-one">2017 &copy; docurolog
            </p>
            <p class="footer-item__info-two">дизайн и поддержка сайта<img src=""/><a class="author-link" href="#">Katrin Briz</a>
            </p>
          </div>
        </div>
      </footer>
    </div>
    <!-- build:js js/vendor.js-->
    <!-- endbuild-->
    <!-- build:js js/main.js-->
    <!-- endbuild-->
  </body>
</html>