<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Wox-landing</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="css/owl.theme.default.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="img/favicon/favicon.png" type="image/x-icon"/>
    <!-- build:css css/vendor.css-->
    <!-- endbuild-->
    <!-- build:css css/main.css-->
    <link rel="stylesheet" href="css/main.css"/>
    <!-- endbuild-->
  </head>
  <body class="page">
    <div class="page__wrap">
      <header class="header-doctor">
        <div class="header-doctor__container">
          <div class="header-doctor__logo"><a class="header-logo" href="index.html"><img class="header-logo__img" src="img/logo/logo.png" alt="" role="presentation"/></a>
          </div>
          <div class="header-doctor__nav">
            <nav class="header-nav"><a class="header-nav__link" href="questions.html">вопросы</a><a class="header-nav__link" href="visites.html">прием</a><a class="header-nav__link" href="events.html">события</a><a class="header-nav__link" href="patients.html">пациенты</a>
            </nav>
          </div>
          <div class="header-doctor__private-cabinet"><a class="private-cabinet"><i class="private-cabinet__icon fa fa-lock"></i><i class="private-cabinet__text">Выход</i></a>
          </div>
        </div>
      </header>
      <section class="main-content-patients">
        <div class="main-content-patients__container">
          <div class="patients-body">
            <div class="patient">
              <div class="patient-field">
                <p class="patient-field__name">Ф.И.О
                </p>
                <p class="patient-field__value first">Калина Марина Александровна
                </p>
              </div>
              <div class="patient-field">
                <p class="patient-field__name">Электронный адрес
                </p>
                <p class="patient-field__value email">alexndrovna@gmail.com
                </p>
              </div>
              <div class="visit-dates">
                <div class="patient-field">
                  <p class="patient-field__name">Дата приема
                  </p>
                  <p class="patient-field__value">11.08.2017
                  </p>
                </div>
                <div class="patient-field">
                  <p class="patient-field__name">Дата рождения
                  </p>
                  <p class="patient-field__value">14.07.1976
                  </p>
                </div>
              </div>
              <div class="patient-field">
                <p class="patient-field__name">Жалобы
                </p>
                <p class="patient-field__value jaloba">Учащёное болезненное мочесипускание, боль в правом подреберье, температруа 37,3, тошнота
                </p>
              </div>
              <div class="patient-field"><a class="patient-field__edit-btn" href="#">Редактировать</a>
              </div>
            </div>
            <div class="patient">
              <div class="patient-field">
                <p class="patient-field__name">Ф.И.О
                </p>
                <p class="patient-field__value first">Калина Марина Александровна
                </p>
              </div>
              <div class="patient-field">
                <p class="patient-field__name">Электронный адрес
                </p>
                <p class="patient-field__value email">alexndrovna@gmail.com
                </p>
              </div>
              <div class="visit-dates">
                <div class="patient-field">
                  <p class="patient-field__name">Дата приема
                  </p>
                  <p class="patient-field__value">11.08.2017
                  </p>
                </div>
                <div class="patient-field">
                  <p class="patient-field__name">Дата рождения
                  </p>
                  <p class="patient-field__value">14.07.1976
                  </p>
                </div>
              </div>
              <div class="patient-field">
                <p class="patient-field__name">Жалобы
                </p>
                <p class="patient-field__value jaloba">Учащёное болезненное мочесипускание, боль в правом подреберье, температруа 37,3, тошнота
                </p>
              </div>
              <div class="patient-field"><a class="patient-field__edit-btn" href="#">Редактировать</a>
              </div>
            </div>
            <div class="patient">
              <div class="patient-field">
                <p class="patient-field__name">Ф.И.О
                </p>
                <p class="patient-field__value first">Калина Марина Александровна
                </p>
              </div>
              <div class="patient-field">
                <p class="patient-field__name">Электронный адрес
                </p>
                <p class="patient-field__value email">alexndrovna@gmail.com
                </p>
              </div>
              <div class="visit-dates">
                <div class="patient-field">
                  <p class="patient-field__name">Дата приема
                  </p>
                  <p class="patient-field__value">11.08.2017
                  </p>
                </div>
                <div class="patient-field">
                  <p class="patient-field__name">Дата рождения
                  </p>
                  <p class="patient-field__value">14.07.1976
                  </p>
                </div>
              </div>
              <div class="patient-field">
                <p class="patient-field__name">Жалобы
                </p>
                <p class="patient-field__value jaloba">Учащёное болезненное мочесипускание, боль в правом подреберье, температруа 37,3, тошнота
                </p>
              </div>
              <div class="patient-field"><a class="patient-field__edit-btn" href="#">Редактировать</a>
              </div>
            </div>
          </div>
          <section class="sidebar">
            <form class="search-field"><i class="search-field__ico fa fa-search"></i><input class="search-field__serch-input" type="text"/>
            </form>
            <div class="patients"><a class="patients__patient" href="#">Евлампий Спиридонович</a><a class="patients__patient" href="#">Евлампий Спиридонович</a><a class="patients__patient" href="#">Евлампий Спиридонович</a><a class="patients__patient" href="#">Евлампий Спиридонович</a><a class="patients__patient" href="#">Евлампий Спиридонович</a><a class="patients__patient" href="#">Евлампий Спиридонович</a><a class="patients__patient" href="#">Евлампий Спиридонович</a><a class="patients__patient" href="#">Евлампий Спиридонович</a>
            </div>
          </section>
        </div>
      </section>
      <footer>
        <div class="footer-patient-body">
          <div class="footer-item">
            <p class="footer-item__info-one">2017 &copy; docurolog
            </p>
            <p class="footer-item__info-two">дизайн и поддержка сайта<img src=""/><a class="author-link" href="#">Katrin Briz</a>
            </p>
          </div>
        </div>
      </footer>
    </div>
    <!-- build:js js/vendor.js-->
    <!-- endbuild-->
    <!-- build:js js/main.js-->
    <!-- endbuild-->
  </body>
</html>