<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Wox-landing</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="css/owl.theme.default.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="img/favicon/favicon.png" type="image/x-icon"/>
    <!-- build:css css/vendor.css-->
    <!-- endbuild-->
    <!-- build:css css/main.css-->
    <link rel="stylesheet" href="css/main.css"/>
    <!-- endbuild-->
  </head>
  <body class="page">
    <div class="page__wrap">
      <header class="header-patient">
        <div class="header-patient__container">
          <div class="header-patient__logo"><a class="header-logo" href="index.html"><img class="header-logo__img" src="img/logo/logo.png" alt="" role="presentation"/></a>
          </div>
          <div class="header-patient__nav">
            <nav class="header-nav"><a class="header-nav__link" href="medical-history.html">история болезни</a><a class="header-nav__link" href="add-question.html">задать вопрос</a><a class="header-nav__link" href="visite-create.html">записать на приём</a>
            </nav>
          </div>
          <div class="header-patient__private-cabinet"><a class="private-cabinet"><i class="private-cabinet__icon fa fa-lock"></i><i class="private-cabinet__text">Выход</i></a>
          </div>
        </div>
      </header>
      <section class="main-content">
        <div class="main-content__container">
          <div class="main-part">
            <form class="adding-form">
              <div class="form-field">
                <p class="form-field__name">Суть проблемы
                </p><textarea class="form-field__text-field" rows="10" name="someTextArea"></textarea>
              </div>
              <div class="form-field"><input class="form-field__submit-btn" type="submit" value="Спросить"/>
              </div>
            </form>
            <div class="last-questions">
              <div class="last-questions__title">Предыдущие вопросы
              </div>
              <div class="question">
                <p class="question__date">11.8.2017
                </p>
                <p class="question__text">У меня все признаки пиелонефрита,периодически выходит кишечная палочка,сдавала бак посев 10 в 6 ,чем уже не лечилась и антибиотиками и травами, бадами ничего не помогает.подскажите как можно к вам попасть на прием,у меня как раз сейчас стадия обострения.частое мочеиспускание,жжение.Заранее спасибо.
                </p><a class="question__answer-btn" href="#">Ответ</a>
              </div>
              <div class="question">
                <p class="question__date">11.8.2017
                </p>
                <p class="question__text">У меня все признаки пиелонефрита,периодически выходит кишечная палочка,сдавала бак посев 10 в 6 ,чем уже не лечилась и антибиотиками и травами, бадами ничего не помогает.подскажите как можно к вам попасть на прием,у меня как раз сейчас стадия обострения.частое мочеиспускание,жжение.Заранее спасибо.
                </p><a class="question__answer-btn" href="#">Ответ</a>
              </div>
            </div>
          </div>
          <section class="sidebar">
            <div class="visits"><a class="visits__visite" href="#">Приём 8.7.2015</a><a class="visits__visite" href="#">Приём 9.10.2015</a><a class="visits__visite" href="#">Приём 4.6.2017</a>
            </div>
            <div class="control-buttons"><a class="control-buttons__email-change" href="#">Изменить почту</a><a class="control-buttons__pass-change" href="#">Изменить пароль</a><a class="control-buttons__reviews-add" href="#">Оставить отзыв</a>
              <p class="control-buttons__anonim">/aнонимно
              </p>
            </div>
          </section>
        </div>
      </section>
      <footer>
        <div class="footer-patient-body">
          <div class="footer-item">
            <p class="footer-item__info-one">2017 &copy; docurolog
            </p>
            <p class="footer-item__info-two">дизайн и поддержка сайта<img src=""/><a class="author-link" href="#">Katrin Briz</a>
            </p>
          </div>
        </div>
      </footer>
    </div>
    <!-- build:js js/vendor.js-->
    <!-- endbuild-->
    <!-- build:js js/main.js-->
    <!-- endbuild-->
  </body>
</html>